body {
    
    font-family: 'Montserrat', sans-serif;
    
  }

/*................UP-ARROW..............*/

  .up-arrow{   
        background-color: black;
        width: 40px;
        position: fixed;
        right:0;
        border-radius: 100px;
        bottom: 10px;
        z-index: 1200 !important;    
        align-items: center;
        text-align: center;
        padding-top: 5px;
    }

    .up-arrow>a{
        text-decoration: none;
        color: whitesmoke;
    }

   
  

  /*..........WAVE................*/
  #section {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .image{
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      
  }

  .button{
      background-color:rgb(253, 134, 54) ;
      color: white;
      position: absolute;
      border-radius: 15px;
      padding: 10px;
      top: 10%;
      right: 40px;
  }

  .button:hover{
      background-color: green;
      color: white;
  }
  
  .browse-more{
    position: absolute;
      z-index: 15;
      font-weight: 600;
      top: 70%;
      background-color:rgb(253, 134, 54) ;
      color: white;     
      border-radius: 5px;
      padding: 10px;

  }

  .browse-more:hover{
      text-decoration: none;
      font-weight: 800;
      font-size: medium;
      background-color: green;
      color: white;
     
  }

  .wave-heading {
   z-index: 15;
    top: 50%;
    right: 50%;
    color: rgb(253, 134, 54);
    font-weight: bold;
    text-shadow:3px 3px rgb(37, 35, 35);
  }

  .wave-heading1 {
    z-index: 15;
     top: 50%;
     right: 50%;
     color: green;
     text-shadow:1px 1px rgb(37, 35, 35);
   }
  
  #section > .wave {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: url("../img/wave.png");
    background-size: 800px 50px;

  }
  
  .wave1 {
    animation: animate1 7s linear infinite;
    z-index: 10 !important;
    opacity: 1;
    bottom: 0px;
    height: 50px;
  }
  
  @keyframes animate1 {
    0% {
      background-position-x: 0px;
    }
  
    100% {
      background-position-x: 800px;
    }
  }

  .wave2 {
    animation: animate2 15s linear infinite;
    z-index: 10;
    opacity: 0.8;
    bottom: 0px;
    height: 60px;
  }
  
  @keyframes animate2 {
    0% {
      background-position-x: 0px;
    }
  
    100% {
      background-position-x: 800px;
    }
  }
  
  .wave3 {
    animation: animate3 10s linear infinite;
    z-index: 10;
    opacity: 0.5;
    bottom: 0px;
    height: 60px;
  }
  
  @keyframes animate3 {
    0% {
      background-position-x: 0px;
    }
  
    100% {
      background-position-x: 800px;
    }
  }


/*............TOP PICKS.............*/
.zoom1 {
   
    transition: transform .5s;   
    z-index: 15 !important;
    color: gray;
    margin-top: 10px;
  
  }
  
  .zoom1:hover {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.3); 
  }


  .card{
      padding-top: 8px;
  }

/*...........Categories..............*/
.card1{
    border:1px solid whitesmoke;
    padding: 20px;
}

.categories{
    background-color: rgb(216, 210, 210);    
}

.zoom{
    height: 150px;
    width: 150px;
    object-fit: cover;
    transition: transform .5s;   
    z-index: 15 !important;
}

.zoom:hover {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.05); 
  }

  .see-more{
    background-color:rgb(253, 134, 54) ;
    color: white;    
    border-radius: 5px;
    padding: 5px;
   
}

.see-more:hover{
    background-color: green;
    color: white;
  }

       /* Devices under 425px (md) */
@media only screen and (max-width: 600.98px) {
   

    .card-title{
        font-size: small;
    }
}

 /* Devices under 425px (md) */
 @media only screen and (max-width: 1023.98px) {
     .zoom{
         margin-left: -18px;
     height: 100px;
     width: 100px;
     }
 }

   